<% provide(:title, 'Questions') %>

<div class="row">
  <aside class="col-md-4">
    <section class="topic_info background-common">
      <h1>
        <span class="badge bg-secondary">
          <%= @questions.count %>
        </span>
      </h1>
      <h1>
        Total <%= "Question".pluralize(@questions.count) %>
      </h1>
      <small class="text-muted"></small>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @questions.blank? %>
      <div class="empty-questions">
        No question available currently
      </div>
    <% else %> 
      <ul class="list-group">
        <% @questions.each do | question | %>
          <%= render partial: 'shared/item', locals: { question: question, answer: @answer } %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>