<div class="center jumbotron row justify-content-center home">
  <div class="col-8 text-center">
    <h1>Welcome to stackunderflow</h1>
    <p>
      Feel free to ask questions.
    </p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg" %>
  </div>
</div>