<div class="row">
  <div class="col-4">
    <%= render 'stats' %>
  </div>
  <div class="col-8">
    <% if @questions.blank? %>
      <div class="empty-questions">
        You currently dont have any suggestions.. Follow some topics to get make them appear in your feed
      </div>
    <% else %>
      <div class="suggested-questions">
        <h3>Suggested <%= "question".pluralize(@questions.count) %></h3>
        <ul class="list-group">
          <% @questions.each do | question | %>
            <%= render partial: 'shared/item', locals: { question: question, answer: @answer } %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>