<% provide(:title, "Help") %>

<div class="center jumbotron row justify-content-center home">
  <div class="col-8 text-center">
    <h1>Help</h1>
    <h4>
      Get help by asking questions in our website
    </h4>
  </div>
</div>