<div class="row">
  <%= render 'stats' %>

  <div class="col-md-8">

    <% if @my_questions.blank? %>
      <div class="empty-questions">
        You currently haven't posted any quesiton.. 
      </div>
    <% else %>
      <div class="suggested-questions">
        <h3>Your <%= "Question".pluralize(@my_questions.count) %></h3>
        <ul class="list-group">
          <% @my_questions.each do | question | %>
            <%= render partial: 'shared/item', locals: { question: question, answer: @answer } %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>