<h4 class="mb-0 mt-0 text-center"><%= user.name %></h4>
<div class="d-flex">
    <div class="image mt-1">
      <%= link_to gravatar_for(user, size: 40), user %>
    </div>
    <% if current_user.admin? && !current_user?(user) %>
      <div class="button mt-2 d-flex flex-row align-items-center">
        <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" }, class: "btn btn-sm btn-outline-warning w-100 bd-10" %>
      </div>
    <% else %>
      <div class="button mt-2 d-flex flex-row align-items-end">
        <%= link_to "View", user_url(user), class: "btn btn-sm btn-outline-warning w-100 bd-10" %>
      </div>
    <% end %>
</div>