<div class="user">
    <div class="row w-100">
        <div class="col-2">
          <%= gravatar_for user, size: 30 %>
        </div>
        <div class="col-8">
          <h5><%= link_to user.name, user_path(user), class: "profile-link" %></h5>
        </div>
        <% if current_user.admin? && !current_user?(user) %>
          <div class="col-1">
            <%= link_to "delete", user, method: :delete,
                                          data: { confirm: "You sure?" }, class: "btn btn-outline-warning pull-right" %>
          </div>
        <% end %>
    </div>
</div>