<ul class="list-group">
  <% @users.each do |user| %>
  <% end %>
</ul>

<% provide(:title, 'All users') %>

<div class="row">
  <aside class="col-md-4">
    <section class="info-section background-common">
      <h1>
        All Users
        <span class="badge bg-secondary">
          <%= @users.count %>
        </span>
      </h1>
      <small class="text-muted"></small>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @users.blank? %>
      <div class="empty-content">
        No users available currently
      </div>
    <% else %>   
      <div class="section list-item">
          <% @users.each do |user| %>
            <div class="topic-tag bd-10">
              <%= render user %>
            </div>
          <% end %>
        <%= will_paginate %>
      </div>
    <% end %>
  </div>
</div>