<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 150 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>Questions</h1>
      <ul class="list-group items">
        <% if @other_user_questions.any? %>
          <% @other_user_questions.each do |question| %>
            <%= render partial: 'shared/item', locals: { question: question, answer: @answer } %>
          <% end %>
        <% else %>
          <h4><%= @user.name %> has no question posted </h4>
        <% end %>
      </ul>
    </div>
</div>