html {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  padding-bottom:70px;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.body {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
  color: #fff;
}

.container {
  color: #fff;
  width: 100%;
}

/* navbar */

.navbar {
  z-index: 5;
  width: 88%;
  height: 80px;
  background-color: #000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  font-size: large;
  a {
    color: #fff;
  }

  li {
    a:hover {
      color: rgb(158, 156, 156);
      background-color: rgb(19, 15, 15);
      border-radius: 3px;
    }
  }

  .form-control {
    display: inline-block;
  }
}

.navbar-brand {
  a:hover {
    background-color: #000;
    color: #fff;
  }
}
.navbar {
  .logo {
    margin-top: -3px;
  }

  .input-group {
    max-width: 350px;
    margin-top: 15px;
  }
  li {
    color: #fff;
  }
  ul{
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
  }
}

.navbar-nav > li > .dropdown-menu { background-color: #000; }

.navbar-nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  color: #fff;
}
.navbar-nav > li > a:focus, .nav > li > a:hover {
  color: rgb(158, 156, 156);
}

/* main */

.main {
  margin-top: 100px;
}

/* footer */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color:rgb(158, 156, 156)
  }

  hr {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

/* home page */
.home {
  border: 1px dotted greenyellow;
  border-radius: 10px;
  padding: 5%;

  h1 {
    padding: 0.5em;
  }

  p {
    padding: 0.5em;
  }

  .btn {
    background-color: rgb(197, 231, 4);
    &:hover {
      background-color: rgb(122, 143, 2)
    }
  }
}

/* signup page */
.signup { 
  border: 1px dotted greenyellow;
  border-radius: 10px;
  padding: 2%;
  
  h1 {
    text-align: center;
    color: rgb(192, 189, 189);
  }

  * {
    margin: 0.5%;
  }

  .btn {
    margin: 2%;
    background-color: rgb(197, 231, 4);
    &:hover {
      background-color: rgb(122, 143, 2)
    }
  }
}

/* login page */
.login { 
  border: 1px dotted greenyellow;
  border-radius: 10px;
  padding: 2%;
  
  h1 {
    text-align: center;
    color: rgb(192, 189, 189);
  }

  * {
    margin: 1%;
  }

  .btn {
    background-color: rgb(197, 231, 4);
    &:hover {
      background-color: rgb(122, 143, 2)
    }
  }

  a {
    text-decoration: underline;
    color: rgb(195, 216, 146);
  }

  a:hover {
    color:rgb(158, 156, 156)
  }
}

/* question and answer format */

.badge {
  a {
    text-decoration: none;
    font-size: 1.5em;
  }
}

.question-content {
  padding: 0 0.5em;
  color:rgb(19, 15, 15);
  font-size: 2em;
}

.question-timestamp {
  color: grey;
  font-size: 0.8em;
}

.answer-timestamp {
  color: grey;
  font-size: 0.8em;
}

.answer-content {
  color:rgb(19, 15, 15);
  font-size: 1.5em;
}

.vote {
  display: inline-block;
  cursor: pointer;
  color: #687074;
  span {
    color: black;
  }
} 


.vote.on {
  color: #f48024
}

.answer-content {
  padding: 0 0.5em;
  color:rgb(0, 0, 0);
  font-size: 1.5em;
}

.answer-list {
  li { background: #dbdbdb; }
  li:nth-child(odd) { background: #fcfcfa; }
}

.empty {
  background-color: rgb(27, 27, 27);
}

.card {
  margin: 10px;
}

.vote-form {
  width: 1em;
}